---
---

<footer class="bg-[#1414149c] text-[#b3b3b3] py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-7xl mx-auto">
    <div class="flex flex-col mx-6 justify-around md:flex-row gap-4 md:gap-6 mb-8 text-md ">
    <div class="flex flex-row items-center gap-6 flex-1">
      <div>
        <span>Built with</span>
        <img
        src="../../public/TechStackSVG/astro.svg"
        class="h-7 w-auto object-contain"
        width="30"
        height="30"
      />
        <span class="font-semibold">Astro</span>

      </div>
      <div>
        <span>Styled with</span>
        <img
        src="../../public/TechStackSVG/tailwindcss.svg"
        class="h-7 w-auto object-contain"
        width="30"
        height="30"
      />
        <span class="font-semibold">TailwindCSS</span>

      </div>
      <div>
        <span>Deployed on</span>
        <img
        src="../../public/TechStackSVG/vercel.svg"
        class="h-7 w-auto object-contain"
        width="30"
        height="30"
      />
        <span class="font-semibold">Vercel</span>

      </div>
    </div>
        <div class="w-full max-w-xs flex-1">
          <iframe
            style="border-radius:12px; border:0;"
            src="https://open.spotify.com/embed/playlist/37i9dQZF1DX0wMD4IoQ5aJ?utm_source=generator&theme=0"
            class="w-full h-40"
            allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy"></iframe>
        </div>
    </div>
  
  </div>
</div>
</footer>

