---
import LetterGlitch from "../react/LetterGlitch.tsx";
import SkillsList from "../react/SkillsList.tsx";
---
<section class="px-12 py-12 lg:px-[148px]">
<div class="flex flex-col lg:flex-row items-center gap-8">
  <SkillsList client:load />
  <div
    class="flex justify-center items-center md:w-full md:h-[292px] size-[290px] pt-3 md:pt-9 md:ml-16"
  >
    <LetterGlitch
      client:load
      glitchColors={["#5e4491", "#A476FF", "#241a38"]}
      glitchSpeed={33}
      centerVignette={false}
      outerVignette={true}
      smooth={true}
    />
  </div>
</div>

</section>

