---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Gabriel Spinozzi - Software Developer Portfolio" />
		<title>Gabriel Spinozzi - Software Developer</title>
	</head>
	<body class="bg-[#101010] text-white-900 antialiased">
		<slot />
	</body>
	
</html>


